/*HEAD*/



/* Turn off parallax scrolling for tablets and phones 
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }*/


/*PARALLAX - End*/


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

hr {
  background-color: #c2c2a3;
  height: 1px;
}

html {
  scroll-behavior: smooth;
}

/*BODY*/

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.link-red {
  color: black;
}

.mybg-red {
  background-color: black !important;
  color: #fff;
}

#Home, #About, #Projects, #Skills, #Contact {
  padding-top: 70px;
  padding-bottom: 70px;
}

#mynavs {
  z-index: 50;
  font-family: Rubik-Regular;
  padding: 0 10px 0 10px;
}

#mynavs a {
  color: #fff;
}

#mynavs #nav-item:hover {
  background-color: red;
  margin: 0;
}

#mynavs #nav-item:hover a {
  color: #fff;
}

#mynavs .nav-scroll {
  padding-left: 5px;
}

#mynavs img {
  float: left;
  height: 60px;
  width: 80px;
}

#mynavs .tag li {
  list-style-type: none;
  float: left;
  font-size: 15px;
}

.overlay {
  top: 0;
  width: 100%;
  height: inherit;
  z-index: 5;
  /*background-color: #000000;*/
  background-size: contain;
  position: absolute;
  /*opacity: .6;*/
  background-size: cover;
}

.Headerpage {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #8E2DE2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8E2DE2));
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Headerpage .content {
  z-index: 10;
  margin: auto;
  font-family: Rubik-Bold;
}

#Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#Home {
  background-color: black;
}

#Home .content {
  z-index: 5;
  margin: auto;
  font-family: Rubik-Bold;
}

#Home .content .flex-item p {
  padding: 0 350px 0 350px;
  font-family: Rubik-Regular;
  font-size: 20px;
}

#Home .content .flex-item .btn-resume {
  background-color: #ff1a75;
  font-family: Rubik-Regular;
  font-size: 18px;
}

#Home .content .flex-item .btn-resume:hover {
  background-color: #ff3385;
}

#Home .content .flex-item span {
  color: #ff3385;
}

#Home .content .flex-item .nav-link a {
  font-family: Rubik-Regular;
  font-size: 18px;
}

#Home .content .flex-item .nav-link a:hover {
  background-color: #ff3385;
}

#Home .content .social-medias li {
  display: inline;
}

#Home .content .social-medias li img {
  height: 40px;
  width: 40px;
  margin: 20px;
}

#Skills {
  background-color: #343a40;
  font-family: Rubik-Regular;
}

#Skills h2, #Skills h6 {
  display: none;
}

#Skills h5 {
  margin: 0 auto;
  margin-top: 8px;
  font-size: 18px;
  display: none;
}

#Projects {
  background-color: #fff;
  font-family: Rubik-Regular;
}

#Projects .works-card {
  border: none;
  background-color: transparent !important;
  display: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#Portfolio .works-card .btn-view-work {
  background-color: red;
  border: none;
}

#Portfolio .works-card .btn-view-work:hover {
  background-color: red;
  border: none;
}

#Portfolio .works-card a {
  color: #232323;
}

#Portfolio .contact-link:hover {
  text-decoration: none;
}

#Contact {
  background-color: #404040;
}


#Contact .form-card, #Contact #Blog {
  display: none;
}

#Contact .contact-form-err, #Contact .contact-form-success {
  display: none;
}

#Contact .blog-posts {
  background-color: transparent;
  border: none;
  font-family: Rubik-Regular;
  padding: 5px;
}

#Contact .blog-posts a {
  color: #fff;
}

#Contact .blog-posts a:hover {
  text-decoration: none;
}

#Contact .blog-posts img {
  float: left;
  padding-right: 7px;
}

.project_container {
  font-family: Rubik-Regular;
}

.project_container a {
  color: #232323;
}

.project_container h2 {
  font-family: Rubik-Medium;
}

.project_container .specImg {
  height: 45vh;
}

.project_container .projects-posts {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.project_container .projects-posts a:hover {
  text-decoration: none;
}

.project_container .projects-posts img {
  float: left;
  margin-right: 4px;
}



@media screen and (max-width: 700px) {
  #Home .content p {
    padding: 0 150px 0 150px !important;
  }
}

@media screen and (max-width: 991px) {
  .ap-list .ap-title {
    padding-top: 30px !important;
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  #Home .content p {
    padding: 0 80px 0 80px !important;
  }
}

@media screen and (max-width: 700px) {
  #Home .content {
    padding: 5px !important;
  }
  #Home .content h5 {
    font-size: 24px;
  }
  #Home .content h1 {
    font-size: 70px;
    line-height: 100px;
  }
}

@media screen and (max-width: 700px) {
  #mynavs #collapsibleNavbar {
    background-color: #232323;
  }
  #Projects .works-card img {
    height: 50vh !important;
  }
  #Project p {
    word-break: break-all;
    text-align: justify;
  }
  #Project .proj-viewer {
    height: 50vh;
  }
  .ap-list .img {
    height: 10px;
  }
}

@media screen and (max-width: 700px) {
  #Home .content {
    padding: 8px;
  }
  #Home .content p {
    padding: 0 20px 0 20px !important;
  }
  #Home .content h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .specImg {
    height: 35vh !important;
    width: 100% !important;
  }
  #mynavs img {
    height: 50px;
    width: 70px;
  }
  #mynavs .tag li {
    font-size: 12px;
  }
  #mynavs .navbar-toggler {
    float: right;
    top: 14px;
    right: 20px;
    margin-right: 0;
    position: absolute;
  }
  #Home .content h2 {
    font-size: 20px;
  }
  #Home .content p {
    font-size: 16px;
  }
  #Home .content .btn-resume {
    font-size: 14px;
  }
  #Projects .works-card img {
    height: 40vh !important;
  }
  #Project .proj-viewer {
    height: 40vh;
  }
  .ap-list .ap-title {
    padding-top: 20px !important;
    font-size: 20px;
  }
}

@media screen and (max-width: 475px) {
  .specImg {
    height: 30vh !important;
    width: 100% !important;
  }
  #Projects .works-card img {
    height: 35vh !important;
  }
}

@media screen and (max-width: 450px) {
  .specImg {
    height: 25vh !important;
    width: 100% !important;
  }
  #Home p {
    font-size: 18px !important;
  }
  #Home .social-medias li img {
    margin: 12px !important;
  }
}

@media screen and (max-width: 417px) {
  #Projects .works-card img {
    height: 30vh !important;
  }
  #Project .proj-viewer {
    height: 30vh;
  }
  .ap-list .another-proj-img {
    height: 80px;
  }
  .ap-list .ap-title {
    padding-top: 8px !important;
    font-size: 18px;
  }
  #Testimonials .timeline-body {
    font-family: Rubik-Regular;
  }
  #Testimonials .timeline-body h4 {
    font-size: 16px !important;
  }
  #Testimonials .timeline-body h6 {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 365px) {
  .specImg {
    height: 20vh !important;
    width: 100% !important;
  }
  #Home p {
    font-size: 16px !important;
  }
  #Home .social-medias li img {
    margin: 10px !important;
  }
}

/*# sourceMappingURL=style.css.map */